<!DOCTYPE html>
<html lang="cn">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>你画我猜 Quick Draw</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
      form {
        text-align: center;
        font-size: larger;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>你画我猜 Quick Draw</h1>
      <p class="established">XJTU</p>
      <form action="/" method="post">
        <button name="btn">开始</button>
      </form>
    </main>
  </body>
</html>